body {
    background: linear-gradient( to top, rgb(255, 255, 255),black);
   
}
header {
    
    color:transparent ;
    position: static;

    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(
        to left, rgb(0, 0, 0),white, rgb(0, 0, 0),white,rgb(0, 0, 0)
    );
    background-size: 200%;
    -webkit-background-clip: text;
     background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 15s linear infinite;
    
}
@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}
p.s{
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
   animation-name: texto;
   animation-duration: 8s;
   animation-iteration-count: infinite;
  
}
div.Imagens {
   text-align: center;
    justify-content: space-evenly;
   cursor: pointer;
    
 
}
img.kl1 {
    
}
img.kl4 {
   
  
}
img.kl3 {
 
}
img {
    border-radius: 20px;
    box-shadow: 30px 20px 40px ;
    color: rgb(135, 126, 126);
    margin: 0 50px 0 50px;
}
 img:hover {
    transform: scale(1.1);

}
img:no(:hover) {
    backdrop-filter: blur(10px);
    transform: scale(0.9, 0.9);
}


@keyframes animação {
   0% {
    transform: scale(1);
   }
   50% {
    transform: scale(1.05);
   }
   100% {
    transform: scale(1);
   }

   
}
div.b {
    text-align: center;
    margin-top: 50px;
    justify-content: space-between;
    cursor: pointer;
    
    
}
button {
    background-color: rgb(243, 243, 243);
    height: 70px;
    width: 150px;
    border-radius: 25px;
    box-shadow: 10px 10px 30px;
    animation-name: butao;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: rotate;
    cursor: pointer;
    
}
a {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
@keyframes butao {
    0% {
        transform: scale(1) ;
    }
    50% {
        transform: scale(1.02);
    }
    100% {
       transform: scale(1);
    }
}
@keyframes texto {
    0% {
    color:black ;
    }
    50% {
        color: white;
    }
    100% {
        color: black;
    }
}
@keyframes movi {
    to {
        background-position: 200%;
    }
}
@keyframes rotate {
    0% {
        background-color: rgb(0, 0, 0);
    }
    50% {
        background-color: rgb(255, 255, 255);
    }
    100% {
        background-color: rgb(0, 0, 0);
    }
}

h4 {
    color: transparent;
    background: linear-gradient( to 
    right, rgb(0, 0, 0),rgb(255, 255, 255));
    background-clip: text;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
}
h4.short {
    color: transparent;
    background: linear-gradient( to 
    right, rgb(0, 0, 0),rgb(255, 255, 255));
    background-clip: text;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
}
div.shortsi {
    text-align: center;
    margin-top: 50px;
    justify-content: space-between;
    animation-name: rota;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    cursor: pointer;
   
}
img.shortm {
    margin-left: 50px;
    margin-right: 50px;
    
}
img:hover {
 transform: scale(1.1);   
  filter: saturate(1.5);
}
img {
   filter: grayscale(1);
}
